{% extends "base.htm" %}

{% block title %}Sustainr - About{% endblock %}

{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <h1>404.</h1>
Looks like you broke the Internet. Good going.
</div>
 <hr>

      <footer>
        <p><strong>&copy; Sustainr 2013.</strong> <em>Sustainr is brought to you by <a href="http://resume.brettshollenberger.com/" target="_blank">Brett Shollenberger</a> and backed by data from the <a href="http://www.presidentsclimatecommitment.org" target="_blank">ACUPCC</a>. </p>
      </footer>


{% endblock %}