{% extends "base.htm" %}

{% block title %}Sustainr - About{% endblock %}

{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <h1>About Sustainr.</h1>
Sustainr is for sustainability professionals that hate wasting time copying and pasting data into an Excel sheet. You've got more important things to do, like saving the planet. 

<br><br>Sustainr was created by <a href="http://resume.brettshollenberger.com" target="_blank">Brett Shollenberger</a>, a web developer, designer, and comedian from Cambridge, Massachusetts that would <a href="mailto:brett.shollenberger@gmail.com">love to hear from you</a>. 
</div>
 <hr>

      <footer>
        <p><strong>&copy; Sustainr 2013.</strong> <em>Sustainr is brought to you by <a href="http://resume.brettshollenberger.com/" target="_blank">Brett Shollenberger</a> and backed by data from the <a href="http://www.presidentsclimatecommitment.org" target="_blank">ACUPCC</a>. </p>
      </footer>


{% endblock %}